.login-container{
      background-image: url(../../images/Category-banner.jpg);
      background-repeat:no-repeat;
      background-size: 100%;
      
    
      background-position: center;
}

@media only screen and (max-width: 600px) {
  
}